@import "../bootstrap/less/bootstrap";
@import "mixins";
@import "http://fonts.googleapis.com/css?family=Reenie+Beanie|Rancho";

//
font-family: 'PT Sans', sans-serif;
font-family: 'Cabin Sketch', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Cantarell', sans-serif;
font-family: 'Ruluko', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Rancho', cursive;
//

body {
	padding-top:50px;
	background: #FFF url('../img/water-colour-background.jpg') no-repeat scroll top left !important;
}

.headline {
	margin-top:50px;
	margin-bottom:25px;
	.rotate(-1deg);
	h1 {
		font-family: 'Rancho', cursive;	
		margin-top:50px;
		margin-bottom:15px;
		margin-left:-20px;
		background-color:#FF0;
		padding:2px 15px;
		display:inline;
		.text-shadow(2px, 2px, 0px, rgba(255,255,255,0.9));
	}
}

h2 {
	font-size:1.2em;
}

.brand {
	.noSelection();
	h1 {
		font-family: 'Reenie Beanie', cursive;
		font-size:4em;
		padding:0;
		margin:30px 0 30px 0;
		text-align:center;
	}
}

.teaser-item {
	height:400px;
	text-align:center;
	background-color:#EEE;
	h2 {
		font-size:4em;
		color:#FFF;
		padding-top:160px;
		margin-bottom:20px;
		font-family: 'Rancho', cursive;
		.text-shadow(0px, -1px, 0px, rgba(0,0,0,0.3));
	}
	p {
		font-size:1.8em;
	}
}

#edc-slide {
	background-color:#FE0;
}
#faces-slide {
	background-color:#9EF;
}



.connect {
	p {
		color:#999;
	}
	ul {
		font-size:1.1em;
		border-bottom:1px solid #EEE;
		li {
			margin:0;
			border-top:1px solid #EEE;
		}
		a {
			display:block;
			text-decoration:none;
			padding:0.3em 0.5em;
			font-weight:bold;
		}
		a:hover {
			background-color:#EEE;
		}
	}
}

.carousel {
	.box-shadow(0px, 6px, 7px, rgba(0,0,0,0.5));
	border:1px solid #DDD;
	background-color:#FFF;
	padding:20px;
	.rotate(-.5deg);
	.carousel-control {
		top: 195px;
		margin:-5px;
	}
}

.navbar {
	.noSelection();
	.nav > li > a {
		.text-shadow(0px, 1px, 1px, rgba(0,0,0,0.8)) !important;
		font-weight:bold;
		i {
			opacity:0.6;
		}
	}
	
}

.tweet {
	
	
}

.speech-bubble {
	background-color:#aad5ee;
	border-color:#aad5ee;
	padding:10px 15px;
	position: relative;
	.rounded-corners(8px);
}

.tweet {
	height:70px;
	margin-right:-20px;
	p {
		font-size:1.1em;
		height:70px;
		overflow:hidden;
		font-weight:bold;
		line-height:1.3em;
		color:#FFF;
		.text-shadow(0px, -1px, 0px, rgba(0,0,0,0.3));
	}
}

.tweet-author {
	text-align:right;
	margin-bottom:1em;
	font-weight:bold;
	font-size:1.1em;
}

.speech-bubble:after {
   content: "";
   position: absolute;
   top: 100%;
   right: 50px;
   border-top: 15px solid black;
   border-top-color: inherit;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}

.subtitle {
	text-align:center;
	margin-bottom:3em;
	font-weight:bold;
}

.large-copy {
	p {
		font-size:1.8em;
		line-height:1.5em;
		color:#333;
	}
	padding:0.5em 0 1em 0;
}

#footer {
	background-color:#333;
	padding:2em 0;
	border-top:10px solid rgba(0,0,0,0.3);
	color:#AAA;
}

#main-page {
	background: transparent url('../img/water-colour-background-bottom.jpg') no-repeat scroll bottom right;
	padding-bottom:100px;
	border-bottom:2px solid #000;
}

// mixins

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.box-shadow(@vOffset, @hOffset, @blur, @color) {
	-moz-box-shadow: @vOffset @hOffset @blur @color;
	-webkit-box-shadow: @vOffset @hOffset @blur @color;
	box-shadow: @vOffset @hOffset @blur @color;
}

.text-shadow(@vOffset, @hOffset, @blur, @color) {
	-moz-text-shadow: @vOffset @hOffset @blur @color;
	-webkit-text-shadow: @vOffset @hOffset @blur @color;
	text-shadow: @vOffset @hOffset @blur @color;
}


.rotate(@angle) {
	transform:rotate(@angle);
	-ms-transform:rotate(@angle); /* IE 9 */
	-moz-transform:rotate(@angle); /* Firefox */
	-webkit-transform:rotate(@angle); /* Safari and Chrome */
	-o-transform:rotate(@angle); /* Opera */
}