@import "mixins";

#controls {
	position:absolute;
	bottom:0px;
	width:320px;
	left:0px;
	height:60px;
	background:transparent url('../images/control-panel-iphone.png') no-repeat top left;
	.backgroundSize(100%, 100%);
	a {
		position:absolute;
		display:block;
		width:50px;
		height:50px;
		top:5px;
		overflow:hidden;
		text-indent:-100px;
		.backgroundSize(100%, 100%);
	}
	#level1 {
		background:transparent url('../images/icons/1.png') no-repeat top left;
		left:10px;
		&.current {
			background:transparent url('../images/icons/1-blue.png') no-repeat top left;
		}
	}
	#level2 {
		background:transparent url('../images/icons/2.png') no-repeat top left;
		left:65px;
		&.current {
			background:transparent url('../images/icons/2-blue.png') no-repeat top left;
		}
	}
	#level3 {
		background:transparent url('../images/icons/3.png') no-repeat top left;
		left:130px;
		&.current {
			background:transparent url('../images/icons/3-blue.png') no-repeat top left;
		}
	}
	#level4 {
		background:transparent url('../images/icons/4.png') no-repeat top left;
		left:195px;
		&.current {
			background:transparent url('../images/icons/4-blue.png') no-repeat top left;
		}
	}
	#level5 {
		background:transparent url('../images/icons/5.png') no-repeat top left;
		left:260px;
		&.current {
			background:transparent url('../images/icons/5-blue.png') no-repeat top left;
		}
	}
  
  
  
	#clear {
		background:transparent url('../images/icons/clear-full.png') no-repeat top left;
		right:20px;
	}
	#path.multiple {
		background:transparent url('../images/icons/path-multiple-full.png') no-repeat top left;
		right:100px;
	}
	#path.single {
		background:transparent url('../images/icons/path-single-full.png') no-repeat top left;
		right:100px;
	}
	
}